<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>TypeMagic</string>
    <key>CFBundleDisplayName</key>
    <string>TypeMagic</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>TypeMagic - Correct Text</string>
            </dict>
            <key>NSMessage</key>
            <string>correctText</string>
            <key>NSPortName</key>
            <string>TypeMagic</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
            <key>NSReturnTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>TypeMagic - Formal Tone</string>
            </dict>
            <key>NSMessage</key>
            <string>correctTextFormal</string>
            <key>NSPortName</key>
            <string>TypeMagic</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
            <key>NSReturnTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>TypeMagic - Casual Tone</string>
            </dict>
            <key>NSMessage</key>
            <string>correctTextCasual</string>
            <key>NSPortName</key>
            <string>TypeMagic</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
            <key>NSReturnTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>TypeMagic - Summarize</string>
            </dict>
            <key>NSMessage</key>
            <string>summarizeText</string>
            <key>NSPortName</key>
            <string>TypeMagic</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
            <key>NSReturnTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>TypeMagic - Bulletize</string>
            </dict>
            <key>NSMessage</key>
            <string>bulletizeText</string>
            <key>NSPortName</key>
            <string>TypeMagic</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
            <key>NSReturnTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
